#root {
  margin: 0%;
  padding: 0%;
  height: 100vh;
  width: 100%;
  color: #fff;
  font-family: "Source Code Pro", "monoscape";
}
html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

html::-webkit-scrollbar {
  display: none !important;
  width: 0px;
}
#root > div.fixed.left-0.right-0.bottom-0.top-0 > div > div > div {
  overflow: hidden !important;
}
